* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none !important;
}
html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
}

/* styled home route */
.home {
  font-family: "McLaren", cursive;
}

.home > h2 {
  color: #ff0000;
}

/* styles header and nanvbar */
header {
  background-color: #f5ba13;
  width: 100%;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  display: inline-block;
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.nav-btn {
  color: #fff;
}

.nav-btn:focus,
.nav-btn:hover {
  box-shadow: none;
  color: #888;
}

.navbar {
  float: right;
}

.addNoteHeaderBtn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 6px;
  background-color: #fff;
  color: #f5ba13;
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.addNoteHeaderBtn:hover {
  background-color: #eee;
  color: #f5ba13;
}

/* styled footer */
footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  z-index: -1;
}

footer p {
  color: #ccc;
}

/* styled middle part container */
.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

/* Inputnote container div */
.input-div {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 500px;
}

#inputNote > input,
#inputNote > textarea {
  border: none;
  margin-bottom: 10px;
}

/* all input fields from login,logout,inpunote */
form > input,
form > textarea {
  display: block;
  width: 100%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  padding: 5px;
  margin-bottom: 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 8px;
  font-size: 16px;
}
.form-control:focus {
  z-index: 2;
}

/* forgot password? */
.que {
  color: "blue" !important;
  font-size: "0.6rem" !important;
  margin: "0";
  padding: "0";
}

/* .pwd-link {
  text-decoration: inherit;
} */

textarea {
  resize: none;
}

/* add note button in inputnote container */
.addBtn {
  background-color: #f5ba13;
  color: #fff;
  position: relative;
  float: right;
  bottom: 40px;
  right: 0px;
  border: none;
  padding: 5px;
  border-radius: 50%;
}

.addicon {
  color: #fff;
  padding: 0;
  margin: 0px 2px 2px 2px !important;
}

/* styled single note inside notes */
.note-container {
  position: relative;
  z-index: 2;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin: 16px auto;
  float: left;
}

.note:hover {
  overflow: overlay;
}

.note::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 2px;
  opacity: 0.5;
}
.note::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background: #888;
  visibility: 0.1;
}

.note > h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note > div > p {
  position: relative;
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* style for mobile */
@media screen and (max-width: 500px) {
  /* header navbar collapsed */
  header {
    text-align: center;
    padding: 8px;
  }

  header > h1 {
    position: absolute;
    font-size: 2rem;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15px;
  }

  header a {
    text-align: left;
  }

  .navbar {
    margin-left: 0px;
    float: none;
  }

  /* header button goes down */
  .addNoteHeaderBtn {
    position: fixed;
    float: right;
    bottom: 40px;
    margin: auto;
    z-index: 2;
  }

  /* middle part */
  .input-div {
    width: 95vw !important;
  }
  .center-container {
    margin: auto;
  }

  /* home route text */
  .home {
    width: 100%;
  }

  h2 {
    font-size: 2rem !important;
  }

  /* alert popus size reduced */
  .swal2-container {
    zoom: 0.5 !important;
  }
}
